html {
  background-color: #497D74;
  font-family: "Roboto", serif;
}


body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  color: #EFE9D5;
  font-size: 1.2rem;
}


/* @font-face {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: #F7CFD8;
}

footer styles
.footer-body {
  min-height: 100vh;
    display: flex;
    flex-direction: column; 
    
}

.footer-style {
  @media (min-width: 245px){
  /* //even space between elements. THIS IS THE ONE */
  justify-content: space-evenly;
  /* the axis goes from left to right. */
  display: flex;
  align-self: center;
 flex-basis: 5%;
  gap: 10%;
  color: #27445D;
   top: 5em;
  }
}

.footer-style a {
  text-align: center;
  padding: 0.5em 0.8em;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight:500;
  color: #234058;

}

.footer-style a:hover, a:focus {
  color: #27445D;
 background-color: #EFE9D5;
  top: 2em;
  left: 48px;
  display: flex;
  margin: 0;
  font-optical-sizing: auto;
}

/* nav styles */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #27445D;
}

/* nav styles */

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  /* background-color: #27445D; */
  display: none;
  margin: 0;
  color: #27445D;
}

.nav-links a {
  display: block;
  text-align: center;
  /* padding: 2em 0; */
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #EFE9D5;
}

.nav-links a:hover, a:focus {
 color: #27445D;
 background-color: #F7CFD8;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    justify-content: space-evenly;
    display: flex;
    align-self: center;
    /* position: static; */
    width: auto;
    background: none;
    color: #EFE9D5;
  }

  .nav-links a {
    display: inline-block;
    padding: 1.5em 0.8em;
    color: #EFE9D5;
  }

  .hamburger {
    /* hides an element.*/
    display: none;
  }
}