---
import Social from "./Social.astro";

const platform = "github";
const username = "candacerosedavies";
---

<!-- <style class="footer-style">
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  } -->
<body class="footer-body">
  <footer class="footer-style">
    <!-- <p> -->
    <!-- Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >
  </p> -->
    <Social platform="twitter" username="candacedavies" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="candacerosedavies" />
    <!-- </p> -->
  </footer>
</body>
